*
{

    margin: 0;
    padding: 0;
    font-family: SF Pro Display;
    box-sizing: border-box;

}

body
{

    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

}

.container_01
{

    display: flex;
    justify-content: center;
    align-items: center;
    width: 980px;
    height: 536px;

}

.container_01 p
{

    font-size: 24px;
    
}

.logo
{

    margin-left: -32px;
    height: 106px;
}

.container_02
{

    margin-top: -160px;
    margin-left: -100px;
    padding: 20px;

}

.container_03
{

    text-align: center;
    padding: 20px;

}

.container_04
{
    padding: 2px 8px 2px 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, .1), 0 6px 14px rgba(0, 0, 0, .1);
    background-color: white;
    border-radius: 8px;

}

.form
{

    text-align: center;
    padding: 10px;

}

.form > div
{

    padding: 10px 0 10px 0;

}

.form input
{

    width: 364px;
    height: 52px;
    border-radius: 6px;
    border: 1px solid #dddfe2;
    color: #1d2129;
    font-size: 18px;
    font-weight: 500;
    padding: 10px;

}

.form .btn_01
{

    width: 364px;
    height: 48px;
    background-color: #1877f2;
    border-radius: 6px;
    border: none;
    color: white;
    font-size: 20px;

}

.ahref
{

    text-decoration: none;
    color: #1877f2;

}

.form .btn_02
{

    width: 192px;
    height: 48px;
    background-color: #42b72a;
    border-radius: 6px;
    border: none;
    color: white;
    font-size: 20px;

}

.div_btn_02
{

    margin-top: 10px;

}

hr
{

    width: 94%;
    margin-left: auto;
    margin-right: auto;
    color: #dddfe2;
    margin-top: 20px;

}

.create
{

    padding: 20px;

}

.create_ahref
{

    font-weight: 700;
    color: black;
    text-decoration: none;

}

.create_ahref:hover
{

    text-decoration: underline;

}